*{
  margin: 0;
  padding: 0;
  }
  .navbar{
    opacity: 0.8;
  }
.navbar-toggler{
  border:none;
  cursor: pointer;
  background:transparent;
  transform: scale(3);
  -webkit-transform:scale(3);
  -moz-transform:scale(3);
  -ms-transform:scale(3);
  -o-transform:scale(3);
}
.navbar-toggler:visited,
.navbar-toggler:focus,
.navbar-toggler:focus-within,
.navbar-toggler:active{
  border:none;
  outline: none;
}
.navbar-toggler .icon-bar{
  position: relative;
  display: block;
  background:grey;
  width: 16px;
  height: 2px;
  margin: 2px -15px;
  border-radius: 2px;
  -webkit-border-radius:;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -o-border-radius:5px;
  transition: all 250ms ease-in-out;
  -webkit-border-radius: all 250ms ease;
  -moz-border-radius: all 250ms ease;
  -ms-border-radius: all 250ms ease;
  -o-border-radius: all 250ms ease;

}
.bar1Active{
  transform: translateY(7px) translateX(0) rotate(45deg);
   -webkit-transform:translateY(7px) translateX(0) rotate(45deg);;
    -moz-transform: translateY(7px) translateX(0) rotate(45deg);
     -ms-transform: translateY(7px) translateX(0) rotate(45deg);
      -o-transform: translateY(7px) translateX(0) rotate(45deg);
}
.bar2Active{
  opacity: 0;
  transform: scale(0);
  -ms-transform:scale(0);
  -moz-transform:scale(0);
  -o-transform:scale(0);
  
}
.bar3Active{
  transform: translateY(-7px) translateX(0) rotate(-45deg);
   -webkit-transform:translateY(-7px) translateX(0) rotate(-45deg);;
    -moz-transform: translateY(-7px) translateX(0) rotate(-45deg);
     -ms-transform: translateY(-7px) translateX(0) rotate(-45deg);
      -o-transform: translateY(-7px) translateX(0) rotate(-45deg);
}
/*----  Main Style  ----*/
#cards_landscape_wrap-2{
  text-align: center;
  margin-top: -55%;
  
}
#cards_landscape_wrap-2 .container{
 text-align: center;

}
#cards_landscape_wrap-2 a{
  text-decoration: none;
  outline: none;
}
#cards_landscape_wrap-2 .card-flyer {
  border-radius: 15px;
  padding: 15px;
}
#cards_landscape_wrap-2 .card-flyer .image-box{
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
  border-radius: 15px;
}
#cards_landscape_wrap-2 .card-flyer .image-box img{
  -webkit-transition:all .9s ease; 
  -moz-transition:all .9s ease; 
  -o-transition:all .9s ease;
  -ms-transition:all .9s ease; 
  width: 100%;
  height: 230px;
}
#cards_landscape_wrap-2 .card-flyer:hover .image-box img{
  opacity: 0.7;
  -webkit-transform:scale(1.15);
  -moz-transform:scale(1.15);
  -ms-transform:scale(1.15);
  -o-transform:scale(1.15);
  transform:scale(1.15);
}
#cards_landscape_wrap-2 .card-flyer .text-box{
  text-align: center;
}
#cards_landscape_wrap-2 .card-flyer .text-box .text-container{
  padding: 30px 18px;
}
#cards_landscape_wrap-2 .card-flyer{
  background: #FFFFFF;
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}
#cards_landscape_wrap-2 .card-flyer:hover{
  background: #fff;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}
#cards_landscape_wrap-2 .card-flyer .text-box p{
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px; 
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
}
#cards_landscape_wrap-2 .card-flyer .text-box h6{
  margin-top: 0px;
  margin-bottom: 4px; 
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Black', sans-serif;
  letter-spacing: 1px;
  color: #00acc1;
}

@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

.h {
 font-family: 'Fredoka One', cursive;
    margin-top: -57%;
  width: 100%;
  text-align: center;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);

  color: #ffffff;

}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}


@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
